@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');

:root {
    --fonte-arial: 'Arial, sans-serif';
    --fonte-principal: 'Almendra SC';
    --cor-fundo-header-footer: #4682B4;
    --cor-fundo-colecoes: #B0E0E6;
    --cor-branca: #FFFFFF;
    --cor-preta: #000000;
}

* {
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    height: 800px;
    width: 100%;
    justify-content: space-evenly;
}

.borda{
    width: 3px;
    height: 500px;
    background-color: #2F4F4F;

}

.logo{
    display: flex;
    justify-content: center;
    width: 45%;
    transform: translate(0.5);
}

.logo:hover{
    transform: scale(1.1);
    transform: translate(1);
}

.area_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 30%;
    padding-bottom: 100px;
}

.login h1{
    font-family: var(--fonte-principal);
    color: #2F4F4F;
    font-size: 48px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.entrada{
    font-family: Arial, Helvetica, sans-serif;
    color: #2F4F4F;
}

input{
    border-radius: 12px;
    margin: 25px 0px;
    padding: 10px;
    width:350px;
    outline: none;
    border: none;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.input{
    width: 100%;
}

.senha, .email{
    width: 50%;
}

.botao_cadastro{
    display: flex;
    justify-content: space-between;
}

.botao button{
    background-color: #2F4F4F;
    border-radius: 10px;
    border: none;
    padding: 10px 25px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-branca);
    text-decoration: none;
}

.botao button:hover{
    color: var(--cor-preta);
    border: 1px solid black;
    background: var(--cor-branca);
    cursor: pointer;
}

.cadastro{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cadastro p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2F4F4F;
}

.cadastro a {
    font-family: Arial, Helvetica, sans-serif;
    color: #2F4F4F;
    text-decoration: none;
}