@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');

:root {
    --fonte-arial: 'Arial, sans-serif';
    --fonte-principal: 'Almendra SC';
    --cor-fundo-header-footer: #4682B4;
    --cor-fundo-colecoes: #B0E0E6;
    --cor-branca: #FFFFFF;
    --cor-preta: #000000;
}

body{
    margin: 0;
    font-family: var(--fonte-arial);
}

a {
    text-decoration: none;
    color: inherit;
}

/*HEADER*/

#header, footer{
    width: 100%;
    background-color: var(--cor-fundo-header-footer);
    padding: 10px 0;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #4682B4;
    padding: 10px 0px;
}
#header .logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .links{
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
}

#header .links>div{
    padding: 0px 50px;
}
#header .links>div>a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#header .integer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#header .integer>div{
    padding: 0px 30px;
}
/*HEADER*/

/*NAV*/
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
nav>div{}
nav>div>input{
    background-image: url(./src/img/Search\ \(1\).png);
    background-repeat: no-repeat;
    background-position: left center;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 5px 30px;
    width: 100%;
}
nav>div>input::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 2px;
}

/*NAV*/

/*Coleção MGC*/

#colecaoMagic{}
#colecaoMagic>a{
    width: 100%;
    height: 100%;
    display: flex;
}
#colecaoMagic>a>img{
    width: 100%;
}

/*Coleção MGC*/

/*Coleção*/

#colecoes{
    width: 100%;
    background-color: #B0E0E6;
    height: 550px;
}
#colecoes .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0px;
}
#colecoes .title>h1{
    margin: 0;
    font-family: var(--fonte-principal);
    font-size: 40px;
}

#colecoes .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#colecoes .content>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}
#colecoes .content>div>a{
    text-decoration: none;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text .link{
    text-decoration: none;
    color: black;
    
    font-family: var(--fonte-principal);
    font-size: 2em;
}

/*Coleção*/

/*main*/

.produtos_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 750px;
    font-family: Arial, Helvetica, sans-serif;
}

.produtos_cartao{
    background-color: var(--cor-branca);
    width: 300px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.produtos_cartao a {
    text-decoration: none;
}

.produtos_cartao p {
    color: black;
    margin: 8px 0;
}

.preco {
    font-weight: bold;
    font-size: 1.8em;
}

.produtos_cartao_img img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 8px;
}

/* .produtos_cartao_img:hover {
    transform: scale(1.05);
} */

.produtos_cartao:hover {
    transform: scale(1.05);
}

/*main*/

/*footer*/

footer{

    height: 270px;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    max-width: 1800px;
    flex-wrap: wrap;
}

.footer_section_logo {
    max-width:250px;
    margin-top: 20px;
}

.footer_section_logo_logo{
    display: flex;
    justify-content: center;
}

.footer_section_logo p {
    font-size: 1em;
    line-height: 1.4;
    margin-top: 10px;
    color: var(--cor-branca);
    font-family: var(--fonte-principal);
}

.footer_section_logo img{
    max-width: 100px;
    margin-bottom: 20px;
}

.footer_section_links, .footer_section_redes, .footer_section_contatos{
    min-width: 150px;    
    font-family: var(--fonte-principal);
}

.footer_section_contatos h3, .footer_section_links h3, .footer_section_redes h3 {
    font-size: 2em;
    margin-bottom: 25px;
    color: var(--cor-preta);
}

.footer_section_links a , .footer_section_redes a {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    
}

.footer_section_links li, .footer_section_redes li {
    margin-bottom: 20px;
}

.footer_section_links ul , .footer_section_redes ul {
    color: white;
    align-items: left;
    list-style-type: none;
    padding: 0;
}

.footer_section_contatos p {
    font-size: 1.4em;
    color: white;
}

.cartao{
    display: flex;
    justify-content: end;
    width: 95%;
}
