@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');

:root {
    --fonte-arial: 'Arial, sans-serif';
    --fonte-principal: 'Almendra SC';
    --cor-fundo-header-footer: #4682B4;
    --cor-fundo-colecoes: #B0E0E6;
    --cor-branca: #FFFFFF;
    --cor-preta: #000000;
}

body{
    margin: 0;
    font-family: var(--fonte-arial);
}

a {
    text-decoration: none;
    color: inherit;
}

/*HEADER*/

#header, footer{
    width: 100%;
    background-color: var(--cor-fundo-header-footer);
    padding: 10px 0;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #4682B4;
    padding: 10px 0px;
}
#header .logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .links{
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
}

#header .links>div{
    padding: 0px 50px;
}
#header .links>div>a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#header .integer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#header .integer>div{
    padding: 0px 30px;
}
/*HEADER*/

/*main*/

.filtro{
    width: 10%;
    background-color: var(--cor-fundo-colecoes);
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

#section .filtro{

}

.produtos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.produtos_section{
    display: flex;
    padding: 20px 0px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    justify-content: center;
}

.produtos_cartao{
    background-color: var(--cor-branca);
    width: 22%;
    height: 39vh;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all ease .4s;
}

.produtos_cartao a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.produtos_cartao p {
    color: black;
    margin: 8px 0;
}

.preco {
    font-weight: bold;
    font-size: 1.8em;
}

.produtos_cartao_img img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}   

.produtos_cartao:hover {
    transform: scale(1.05);
    transition: all ease .4s;
}

/*main*/

/*footer*/

footer{

    height: 270px;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    max-width: 1800px;
    flex-wrap: wrap;
}

.footer_section_logo {
    max-width:250px;
    margin-top: 20px;
}

.footer_section_logo_logo{
    display: flex;
    justify-content: center;
}

.footer_section_logo p {
    font-size: 1em;
    line-height: 1.4;
    margin-top: 10px;
    color: var(--cor-branca);
    font-family: var(--fonte-principal);
}

.footer_section_logo img{
    max-width: 100px;
    margin-bottom: 20px;
}

.footer_section_links, .footer_section_redes, .footer_section_contatos{
    min-width: 150px;    
    font-family: var(--fonte-principal);
}

.footer_section_contatos h3, .footer_section_links h3, .footer_section_redes h3 {
    font-size: 2em;
    margin-bottom: 25px;
    color: var(--cor-preta);
}

.footer_section_links a , .footer_section_redes a {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    
}

.footer_section_links li, .footer_section_redes li {
    margin-bottom: 20px;
}

.footer_section_links ul , .footer_section_redes ul {
    color: white;
    align-items: left;
    list-style-type: none;
    padding: 0;
}

.footer_section_contatos p {
    font-size: 1.4em;
    color: white;
}

.cartao{
    display: flex;
    justify-content: end;
    width: 95%;
}